.container{
    margin-bottom: 80px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.row{
    align-items: center;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-color: #ffa500;
}
.cat2{
    background-color: #da70d6;
}
.cat3{
    background-color: #0000ff;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.categories h1{
color: white;
}
.categories img{
width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 15px grey;
}
.card-footer{
    border-top: none;
}
#subscribe{
height: 300px;
background-color: #fceae8;
border-radius: 10px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}